div#cke_notifications_area_content {
    display: none;
}

a.page-link {
    color: #212529;
}

.active>.page-link, .page-link.active {
    /* z-index: 3;
    color: var(--bs-pagination-active-color); */
    background-color: #212529;
    border-color: #212529;
}

